<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.music">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/Theme.Music">
        <activity android:name=".ActivityPlayer" />
        <receiver android:name=".Services.NotificationActionService" />
        <service android:name=".Services.OnClearFromRecentService" />
        <activity
            android:name=".MusicList"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <service android:name=".MusicList" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>